<h1>Editar Perfil</h1>

<%= form_with(model: @profile, url: profile_path, method: :patch) do |form| %>
  <% if @profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% @profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-3">
    <%= form.label :nome_de_usuario %>
    <%= form.text_field :nome_de_usuario, class: 'form-control' %>
  </div>

  <div class="field form-group mb-3">
    <%= form.label :biografia %>
    <%= form.text_area :biografia, class: 'form-control' %>
  </div>

  <div class="field form-group mb-3">
    <%= form.label :genero_favorito, "Jogo Favorito" %>
    <%= form.text_field :genero_favorito, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: 'btn btn-primary' %>
  </div>
<% end %>