<h1>Adicionar Análise para <%= @jogo.nome %></h1>

<%= form_with(model: [@jogo, @analise]) do |form| %>
  <div>
    <%= form.label :nota %>
    <%= form.number_field :nota, step: 0.1, in: 0..10 %>
  </div>

  <div>
    <%= form.label :analise, "Sua Análise" %>
    <%= form.text_area :analise, rows: 5 %>
  </div>

  <div>
    <%= form.submit "Enviar Análise" %>
  </div>
<% end %>