<style>
  .marcadores-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  .marcador-item {
    display: flex;
    align-items: center;
  }
  .marcador-item input[type="checkbox"] {
    display: none; /* Esconde o checkbox padrão */
  }
  .marcador-item label {
    padding: 8px 12px;
    border: 1px solid var(--cor-destaque);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  /* Estilo para quando o marcador está selecionado */
  .marcador-item input[type="checkbox"]:checked + label {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
    font-weight: bold;
  }
</style>

<%= form_with(model: jogo) do |form| %>
  <% if jogo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jogo.errors.count, "error") %> prohibited this jogo from being saved:</h2>
      <ul>
        <% jogo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.number_field :ano %>
  </div>

  <div>
    <%= form.label :genero, style: "display: block" %>
    <%= form.text_field :genero %>
  </div>

  <div>
    <%= form.label :plataforma, style: "display: block" %>
    <%= form.text_field :plataforma %>
  </div>

  <div>
    <%= form.label :imagem_url, "URL da Imagem", style: "display: block" %>
    <%= form.text_field :imagem_url %>
  </div>

  <hr>

  <div>
    <%= form.label :desenvolvedora_id, "Desenvolvedora", style: "display: block" %>
    <%= form.collection_select :desenvolvedora_id, Desenvolvedora.all, :id, :nome, { prompt: 'Selecione uma desenvolvedora' } %>
  </div>

  <hr>

  <div>
    <%= form.label :marcadores, style: "display: block" %>
    <div class="marcadores-container">
      <%= form.collection_check_boxes :marcador_ids, Marcador.all, :id, :nome do |b| %>
        <div class="marcador-item">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
