<div id="<%= dom_id jogo %>">
  <p>
    <strong>Nome:</strong>
    <%= jogo.nome %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= jogo.ano %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= jogo.genero %>
  </p>

  <p>
    <strong>Plataforma:</strong>
    <%= jogo.plataforma %>
  </p>

  <p>
    <strong>Desenvolvedora:</strong>
    <%= jogo.desenvolvedora_id %>
  </p>

</div>
