<h1>Catálogo de Jogos</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @jogos.each do |jogo| %>
    <div class="col">
      <div class="card h-100">
        <% if jogo.imagem_url.present? %>
          <%= image_tag jogo.imagem_url, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
        <% else %>
          <%= image_tag "https://via.placeholder.com/400x200.png?text=Sem+Imagem", class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to jogo.nome, jogo %>
          </h5>
          <p class="card-text">
            <small class="text-white-50"><%= jogo.desenvolvedora.nome %> - <%= jogo.ano %></small>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to "Ver Análises", jogo, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>